<header id="top" class="header">
  <nav id="nav" role="navigation">
    {% include main_nav.html %}
  </nav>
  <h1 class="top-logo"><a href="{{ path }}" class="unicorn-icon"><img src="assets/{% asset_path unicorn_logo_small.png %}" alt="unicorn logo small" /></a>
  </h1>
  <div class="clear"></div>
  <h2 class="blurb"><span class="primary">Github API ruby gem</span><span class="secondary">Discover Open Source.</span></h2>
  <a href="https://github.com/peter-murach/github" class="button">View source on GitHub</a>
</header>
