$main-color: #EE3F35;
$main-dark-color: #BE1D2C;
$font-color: #111111;
$border-color: #d3d2d0;
$features-color: #F05927;
$usage-section-color: #F6921C;
$api-section-color: #FFDD13;
$config-section-color: #8BC53E;
$auth-section-color: #00ADEE;
$cli-section-color: #2A378F;
$social-section-color: #642C90;
$light-black-color: #222222;
$line-height-baseline: 1em;

$column-width: 91px;
$gutter-width: 10px;
$columns: 10;
$total-width: 100%;

$tablet-size: 54.75em;
$mobile-size: 38.5em;
$desktop-size: 1000px;
